/* CVS */
/*e36255,ec9a86,a2c5c9,f3c262,f1e0ce */
html {
  scroll-behavior: smooth;
}

/* styles.css */
body {
  font-family: "メイリオ", "Meiryo", "ＭＳ ゴシック",
    "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.tabs-container {
  background-color: #e36255;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 10;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}

.tab {
  position: relative;
  margin: 0 15px;
}

.tab a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.tab a:hover {
  background-color: #ff6f61;
  border-radius: 4px;
  transform: translateY(-2px); /* ホバー時に少し浮くように */
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  background-color: #f3c262;
  width: 25%;
  transition: left 0.3s ease, width 0.3s ease;
}

.dropdown-container {
  position: relative; /* トリガーボタンの位置を基準にする */
  z-index: 9;
}

.dropdown {
  display: none;
  position: fixed; /* スクロールしても固定 */
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 100%; /* ウィンドウ幅いっぱいに広げる */
  left: 0; /* 画面左端に配置 */
  z-index: 10;
  padding: 10px 0; /* 内側の余白を追加 */
  max-height: 300px; /* オーバーフローを防ぐために高さを制限 */
  overflow-y: auto; /* 必要ならスクロールバーを表示 */
}

.dropdown-item {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.title {
  max-width: 100%;
  margin: auto;
  padding: 40px;
  color: #000000;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
